html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
/*
// Navigation bar fix
// =====================================================================
*/
/*
.first-nav-bar {
	margin-bottom: 0;
}
*/
.second-nav-bar {
	top: -22px;
}
/*
// LOGIN PAGE SECTION
*/
.logo img {
	height: 60px;
	margin: 10px 0 10px 10px;
}

.login {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
}

.login h4 {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

/*
 FRONT PAGE : INDEX SECTION
*/
.short-info {
	margin-top: 55px;
}

.short-info-part {
	padding: 15px;
}

.short-info-message {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
}

.short-info-message h3 {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	text-align: center;
}

/* Home Page Carousel */
.carousel {
	height: 60%;
}

.carousel .item, .carousel .item.active, .carousel .carousel-inner {
	height: 100%;
}

.carousel .fill {
	width: 100%;
	height: 100%;
	position: center;
	size: cover;
}

/*
// Admin Panel:
// /////////////////////////////////////////////////////////////////
*/

/*================REGISTRATION AREA========================*/
.add-user-message {
	visibility: hidden;
	margin-top: 10px;
	margin-bottom: 0;
}